{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
Hello {{ app_name }} !!
<h2>Liste des jeux</h2>
{% include 'inc/_game_list.html.twig' %}
{% endblock %}
